@import url("~/platform.css");
@import '~/nativescript-theme-core/css/core.light.css';

.poppins {
    font-family: "Poppins-Regular"
}

.raleway {
    font-family: "Raleway-Regular"
}

.fa {
    font-family: 'FontAwesome', 'fontawesome-webfont';
    font-size: 16;
 }

Page {
    background-image: url("res://background_blur");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* font-size: 15; */
}

TextField {
    padding: 10;
    font-size: 13;
}

.custom-action-bar {
    padding-top: 10;
    border-color: transparent; 
    border-width: 1;
    background-color:  #b3e5fc;
    color: black;
}

.action-image {
    width: 40;
    height: 40;    
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: white;    
}

.sideTitleStackLayout {
    padding-top: 10;
    height: 100;
    text-align: center;
    vertical-align: center;
    background-color: #F9FF7B;
    color: white;
}

.drawer-image {
    margin-left: 30;
}

.drawer-label {
    padding-top: 5;
    padding-left: 20;
}

.drawer-divider {
    margin-left: 20;
    margin-right: 20;
    margin-top: 5;
    background-color: #FED951;
}

.sideTitleStackLayout .h2 {
    color: white;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}