ListView {
    padding-top: 10;
}

.row-container {
    padding-top: 13;
    padding-bottom: 13;
    padding-left: 5;
    padding-right: 5;
    margin-top: 3;
    margin-bottom: 1;
    margin-left: 3;
    margin-right: 3;
    background-color: white;
    /* border-bottom-color: white;
    border-bottom: 3 solid white; */
}

.ended {
    background-color: #FBE8EF;
}

.started {
    background-color: #EAF6EE;
}

.btns-container {
    background-color: #639FFA;
}
/* 
.top-navigation-btn {
    text-align: center;
    background-color: #DEDEDE;
    color: black;
    text-transform: capitalize;
}

.top-navigation-btn.selected {
    background-color: #FF5536;
    color: white;
} */

.fab-button {
    height: 50;
    margin: 15;
    background-color: #C5A831;
    horizontal-align: right;
    vertical-align: bottom;
}

.cardStyle {
    background-color: white;
    color: black;
}

.card-item {
    font-size: 24;
}

.btn-actions {
    color: white;
    text-transform: capitalize;
    background-color: white;
    width: 100;
}

#repairsList {
    background-color: #DFDFDF;
    separator-color: transparent;
}