ListView {
    margin-top: 20;
}

#list-container {
    background-color: white;
}

#maid-name {
    margin-top: 10;
    margin-bottom: 5;
    font-size: 30;
    text-decoration: underline;
}

#room-container {
    padding-left: 10;
    padding-top: 10;
}

.room-name {
    font-size: 30;
    margin-left: 10;
    color: #353333;
    width: 100;
}


/* 
.sideStackLayout {
    background-color: #555555;
    color: #FFFFFF;
}

.sideTitleStackLayout {
    font-weight: bold;
    background-color: #333333;
} */

.sideLabel {
    padding: 16;
}

.listItemStackLayout {
    background-color: #FFFFFF;
}

.archiveViewStackLayout {
    padding-right: 20;
    padding-left: 20;
    padding-top: 14;
    font-size: 24;
    background-color: rgb(35, 81, 167);
    color: #FFFFFF;
}

.deleteViewStackLayout {
    /* padding: 14; */
    padding-left: 14;
    padding-right: 10;
    padding-top: 14;
    font-size: 24;
    background-color: rgb(65, 61, 60);
    color: #FFFFFF;
}

.icons-container {
    margin-right: 20;
}

.btns-container {
    background-color: #639FFA;
}

.top-navigation-btn {
    background-color: #DEDEDE;
    color: black;
    text-transform: capitalize;
}

.top-navigation-btn.selected {
    background-color: #FF5536;
    color: white;
}


#repairs-count {
    font-size: 18;
}

#repairs-description {
    font-size: 16;
}

.top-navigation-btn {
    text-align: center;
}

.fab-button {
    height: 50;
    width: 7500;
    margin: 15;
    background-color: #D01A1A;
    horizontal-align: right;
    vertical-align: bottom;
}